<meta name="viewport" content="initial-scale=1" />
<!-- Toolbar -->
<div class="toolbar">
  <h1>Fluxo de Caixa</h1>
</div>
<div class="content">
  <!-- FLUXO GERAL -->
  <div class="grid flux">
    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Mês Selecionado</label>
      <p-calendar
        [(ngModel)]="selectedMonth"
        view="month"
        dateFormat="mm/yy"
        (onSelect)="setMonth()"
      ></p-calendar>
    </div>

    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Moeda</label>
      <p-dropdown
        [options]="['BRL', 'USD']"
        [(ngModel)]="moeda"
        placeholder="Selecione a Moeda"
        (onChange)="changeCurrency()"
      ></p-dropdown>
    </div>

    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Cotação do Dolar</label>
      <p-inputNumber
        [(ngModel)]="dolar"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        [readonly]="true"
      ></p-inputNumber>
    </div>

    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Entradas</label>
      <p-inputNumber
        [(ngModel)]="entradas"
        inputId="currency-br"
        mode="currency"
        [currency]="moeda"
        locale="pt-BR"
        [readonly]="true"
      >
      </p-inputNumber>
    </div>
    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Saídas</label>
      <p-inputNumber
        [(ngModel)]="saidas"
        inputId="currency-br"
        mode="currency"
        [currency]="moeda"
        locale="pt-BR"
        [readonly]="true"
      >
      </p-inputNumber>
    </div>
    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Total</label>
      <p-inputNumber
        [(ngModel)]="saldo"
        inputId="currency-br"
        mode="currency"
        [currency]="moeda"
        locale="pt-BR"
        [readonly]="true"
      >
      </p-inputNumber>
    </div>
  </div>

  <!-- NOVA ENTRADA -->
  <div class="grid newField">
    <div class="col-12">
      <div class="flex flex-column gap-2">
        <label class="block font-bold mb-2">Descrição</label>
        <input pInputText aria-describedby="desc-help" [(ngModel)]="newDesc" />
        <small id="desc-help"
          >Digite uma descrição para a nova entrada/saida.</small
        >
      </div>
    </div>

    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2" for="currency-us">Valor</label>
      <p-inputNumber
        [(ngModel)]="newEntrada"
        inputId="currency-br"
        mode="currency"
        [currency]="moeda"
        locale="pt-BR"
      >
      </p-inputNumber>
    </div>
    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2">Operação</label>
      <p-dropdown
        [options]="['Entrada', 'Saída']"
        [(ngModel)]="newType"
        placeholder="Selecione Operação"
      ></p-dropdown>
    </div>

    <div class="col-12 sm:col-4">
      <label class="block font-bold mb-2" style="color: lightgray">.</label>
      <p-button
        label="Salvar"
        (onClick)="save()"
        [disabled]="checkSave()"
      ></p-button>
    </div>
  </div>

  <!-- LISTA MOV MES -->
  <div class="list">
    <div class="header">
      <h3 class="block font-bold mb-2">
        Movimentações de
        {{ this.monthNames[this.selectedMonth.getMonth()] }} de
        {{ this.selectedMonth.getFullYear() }}
      </h3>
    </div>

    <p-table [value]="dataFiltered">
      <ng-template pTemplate="header">
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Tipo</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr [ngStyle]="{ color: element.type == 'Entrada' ? 'blue' : 'red' }">
          <td>{{ element.desc }}</td>
          <td>
            {{ moeda == "BRL" ? "R$" : "US$" }}
            {{ (element.value / convertValue).toFixed(2) }}
          </td>
          <td>{{ element.type }}</td>
          <td>
            <i
              class="pi pi-file-edit"
              (click)="edit(element)"
              style="color: #1976d2"
            ></i>
            <i
              (click)="exclude(element.id)"
              class="pi pi-times-circle"
              style="color: red"
            >
            </i>

            <p-toast></p-toast>
            <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="footer">
  <h1>Todos os direitos Reservados</h1>
  <h1>Criado por: William A Rubert</h1>
</div>
